[submodule "dapp-example"]
	path = dapp-example
	url = git@github.com:prosopo-io/dapp-example.git
	branch = main
[submodule "protocol"]
	path = protocol
	url = git@github.com:prosopo-io/protocol.git
    branch = main
[submodule "packages/procaptcha"]
	path = packages/procaptcha
	url = git@github.com:prosopo-io/procaptcha.git
    branch = main
[submodule "packages/provider"]
	path = packages/provider
	url = git@github.com:prosopo-io/provider.git
    branch = main
[submodule "packages/contract"]
	path = packages/contract
	url = git@github.com:prosopo-io/contract.git
    branch = main
[submodule "packages/procaptcha-react"]
	path = packages/procaptcha-react
	url = git@github.com:prosopo-io/procaptcha-react.git
	branch = main
[submodule "client-example"]
	path = client-example
	url = git@github.com:prosopo-io/client-example.git
	branch = main
[submodule "demos/demo-nft-marketplace"]
	path = demos/demo-nft-marketplace
	url = git@github.com:prosopo-io/demo-nft-marketplace.git
	branch = main
